// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




// App Global Sass
// --------------------------------------------------

// Feat android transparent status bar
// Set padding-top and default bg-color for status bar

.platform-android {
  .ion-page {
    ion-header {
      padding-top: $cordova-md-statusbar-padding;
      background-color: color($colors, primary);
    }
  }
}

// Super bar placeholder

%super-bar {
  .scroll-content {
    margin-top: 0 !important;
  }

  ion-header, .toolbar-background {
    background-color: initial !important;
    transition: background-color 1s ease;

    &:after {
      height: 0  !important;
    }
  }

  .opaque {
    background-color: color($colors, primary) !important;

    &:after {
      height: 5px !important;
    }

    .toolbar-background {
      background-color: color($colors, primary);
    }
  }
}



.loading {
  text-align: center;
  margin-top: calc(25vh);
}

.round {
  border-radius: 50%;
}

#menu-avatar {
  .user-avatar {
    padding: .5em;
  }
  h3,
  .label {
    color: white;
    font-weight: bold;
  }
  .item {
    background: transparent;
  }
  ion-content {
    background: linear-gradient(48deg, rgba(157, 72, 173, 0.8) 0%, rgba(157, 72, 173, 0.86) 28%, rgba(0, 168, 168, 0.98) 93%, rgba(0, 168, 168, 1) 100%);
  }
  .menu-inner {
    background: rgba(255, 255, 255, .3);
  }
}